# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
venv/
pyvenv.cfg
.direnv/

# Build & Cache
.vitepress/dist
.vitepress/cache
.ruff_cache/
__pycache__/

# Local Environment
.env
.env.*
!.env.example

# Generated Content
/projects/*.md
/public/data/splats.json
/public/projects-cache/

# Other
/input_images/
/bin/
pnpm-debug.log*
